<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="member">

  <select id="login" resultType="map">
  	SELECT 
  		ID
  		,PWD
  	FROM TEMP_MEMBER
  	WHERE ID = #{id}
  </select>

  <insert id="join">
	  INSERT INTO TEMP_MEMBER
	  (
		  ID 
		  , PWD
	  )
	  VALUES
	  (
	  	#{id}
	  	, #{pwd}
	  )
  </insert>
  
</mapper>

















