<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="admin.member">

	<select id="getMemberByNo" resultType="memberVo">
		SELECT 
		    NO
		    ,ID
		    ,PWD
		    ,NICK
		    ,PROFILE
		    ,HOBBY
		    ,STATUS
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		FROM MEMBER
		WHERE NO = #{no}
	</select>



	<select id="getMemberList" resultType="memberVo">
		SELECT 
		    NO
		    ,ID
		    ,PWD
		    ,NICK
		    ,PROFILE
		    ,HOBBY
		    ,STATUS
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		FROM MEMBER
		ORDER BY NO DESC
	</select>

</mapper>







































