<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">

	<select id="getBoardList" resultType="boardVo">
		SELECT 
		    B.NO
		    ,B.TITLE
		    ,B.CONTENT
		    ,B.WRITER_NO
		    ,B.CATEGORY_NO
		    ,B.ENROLL_DATE
		    ,B.STATUS
		    ,B.MODIFY_DATE
		    ,B.HIT
		    ,NVL(C.NAME , '없음') AS CATEGORY_NAME
		    ,M.NICK AS WRITER_NAME
		FROM BOARD B
		LEFT JOIN CATEGORY C ON (B.CATEGORY_NO = C.NO)
		JOIN MEMBER M ON (B.WRITER_NO = M.NO)
		WHERE B.STATUS = 'O'
		<if test="searchType == 'title'">
			AND B.TITLE LIKE '%${searchValue}%'
		</if>
		<if test="searchType == 'content'">
			AND B.CONTENT LIKE '%${searchValue}%'
		</if>
		<if test="searchType == 'category'">
			AND B.CATEGORY_NO = #{searchValue}
		</if>
		ORDER BY B.NO DESC
	</select>
	
	<insert id="write">
		INSERT INTO BOARD
		(
		    NO
		    ,TITLE
		    ,CONTENT
		    ,WRITER_NO
		    ,CATEGORY_NO
		)
		VALUES
		(
		    SEQ_BOARD_NO.NEXTVAL
		    , #{title}
		    , #{content}
		    , #{writerNo}
		    , #{categoryNo}
		)
	</insert>
	
	<select id="getBoard" resultType="boardVo">
		SELECT 
		    NO
		    ,TITLE
		    ,CONTENT
		    ,WRITER_NO
		    ,CATEGORY_NO
		    ,ENROLL_DATE
		    ,STATUS
		    ,MODIFY_DATE
		    ,HIT
		FROM BOARD
		WHERE   STATUS = 'O'
		AND     NO = #{no}
	</select>
	
	<update id="increaseHit">
		UPDATE BOARD
		    SET HIT = HIT+1
	    WHERE   NO = #{no}
	    AND     STATUS = 'O'
	</update>
	
	<update id="updateBoard">
		UPDATE BOARD
	    SET 
	        TITLE = #{title}
	        , CONTENT = #{content}
	        , MODIFY_DATE = SYSDATE
	    WHERE   NO = #{no}
	    AND     STATUS = 'O'
	    AND     WRITER_NO = #{writerNo}
	</update>
	
	<update id="delete">
		UPDATE BOARD
	    SET
	        STATUS = 'X'
	        , MODIFY_DATE = SYSDATE
	    WHERE   NO = #{no}
	    AND     WRITER_NO = #{writerNo}
	</update>
	
	<select id="getCnt" resultType="int">
		SELECT COUNT(NO)
		FROM BOARD B
		WHERE STATUS = 'O'
		<if test="searchType == 'title'">
			AND B.TITLE LIKE '%${searchValue}%'
		</if>
		<if test="searchType == 'content'">
			AND B.CONTENT LIKE '%${searchValue}%'
		</if>
		<if test="searchType == 'category'">
			AND B.CATEGORY_NO = #{searchValue}
		</if>
	</select>
	
	<select id="getCategoryList" resultType="map">
		SELECT 
			NO
			, NAME
		FROM CATEGORY
	</select>
	
</mapper>


























