<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">

  <select id="getNoticeList" resultType="noticeVo">
  	SELECT *
  	FROM NOTICE
  	WHERE STATUS = 'O'
  	ORDER BY NO DESC
  </select>
  
  <insert id="write">
  	INSERT INTO NOTICE
  	(
  		NO
		,TITLE
		,CONTENT
  	)
  	VALUES
  	(
  		SEQ_NOTICE_NO.NEXTVAL
  		, #{title}
  		, #{content}
  	)
  </insert>
  
  <select id="getNotice" resultType="noticeVo">
  	SELECT *
  	FROM NOTICE
  	WHERE NO = #{num}
  	AND	  STATUS = 'O'
  </select>
  
  <update id="edit">
  	UPDATE NOTICE
  		SET
  			TITLE = #{title}
  			, CONTENT = #{content}
  			, MODIFY_DATE = SYSDATE
  		WHERE NO = #{no}
  </update>
  
  <update id="delete">
  	UPDATE NOTICE
  		SET 
  			STATUS = 'X'
  			, MODIFY_DATE = SYSDATE
  	WHERE NO = #{num}
  </update>
  
  <select id="getNoticeListCnt" resultType="int">
  	SELECT COUNT(*)
  	FROM NOTICE
  	WHERE STATUS = 'O'
  </select>

</mapper>


























