<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
  	<typeAlias type="com.kh.app.board.vo.BoardVo" alias="BoardVo"/>
  </typeAliases>
  
  <environments default="dev">
  	<environment id="dev">
  		<transactionManager type="JDBC"></transactionManager>
  		<dataSource type="POOLED">
  			<property name="driver" value="oracle.jdbc.OracleDriver"/>
  			<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
  			<property name="username" value="SEMI"/>
  			<property name="password" value="1234"/>
  		</dataSource>
  	</environment>
  </environments>
  
  <mappers>
  	<mapper resource="/sql/board-mapper.xml"/>
  </mappers>
  
</configuration>








